parameters:
    level: max
    paths:
        - "Classes/"
        - "Configuration/"
        - "Tests/"
    checkMissingIterableValueType: false

    ignoreErrors:
        -
            message: "#^Call to an undefined method SJBR\\\\StaticInfoTables\\\\Domain\\\\Model\\\\CountryZone::getLocalName\\(\\)\\.$#"
            count: 1
            path: Classes/Domain/Model/CountryZone.php
